@import url(../../themes/variables.css);
@import url(../../themes/global.css);
@import url(../../themes/normalize.css);

.about_us_leftside_image {
  width: 6.25rem;
  height: 4.5rem;
  position: absolute;
  top: 1.7244rem;
  left: 3.5994rem;
}

.about_us_rightside_image {
  width: 20.4375rem;
  height: 7.5rem;
  position: absolute;
  top: 29.1612rem;
  left: 99.3131rem;
  transform: rotate(-2deg);
}

.about_us_section {
  position: relative;
  background-color: #ffffff;
  height: 43.125rem;
  width: 100%;
  max-width: var(--max-width);
}

.about_us_main_content {
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  display: flex;
  width: 100%;
  position: relative;
  /* gap: 1rem; */
}

.about_us_multiplepeople {
  position: absolute;
  top: 2.8494rem;
  left: 18.75rem;
}

.about_us_main_image_one_wrapper {
  width: 14.1875rem;
  height: 25.8125rem;
  border-radius: 6.25rem;
  border: solid 1px pink;
  margin-right: 2rem;
  margin-top: 13.2619rem;
  overflow: visible;
}

.about_us_main_image_one {
  transform: translate(8px, -10px);
}

.about_us_main_image_two_wrapper {
  width: 19.6875rem;
  height: 35.625rem;
  border-radius: 9.375rem;
  border: solid 1px var(--secondary-color-page-banner);
  margin-top: 0.4375rem;
  overflow: visible;
}

.about_us_main_image_two {
  transform: translate(8px, -10px);
}

.about_us_article {
  margin-left: 2rem;
}

.about_us_article_title {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1.4719rem;
}

.about_us_article_title_icon {
  margin-left: 0.3125rem;
}

.about_us_article_title_text {
  padding-top: 0.375rem;
  color: var(--secondary-color-page-banner);
  font-family: var(--font-family-header);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem;
}

.about_us_article_heading{
    color: #0E2A46;
    font-family: var(--font-family-body);
    font-weight: bold;
    font-size: 2.8125rem;
    line-height: 3.6563rem;
    width: 42.6875rem;
    height: 7.3594rem;
    text-transform: capitalize;
    margin-top: .5781rem;
}

.about_us_article_heading span{
    color: var(--secondary-color-page-banner);
}

.about_us_article_paragraph{
    width: 38.7731rem;
    height: 6.0563rem;
   font-family: var(--font-family-header);
   color: #333931;
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 2.0187rem;
    justify-content: flex-start;
    align-items: center;
    margin-top: .5844rem;
    margin-bottom: 1.94rem;
}

.about_us_article_tags_wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
   gap: 1.25rem 0rem;
   
}

/* .about_us_article_tags_wrapper li{
    font-family: var(--font-family-body);
    color: #191659;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 2rem;
} */

.about_us_article_tags{
    margin-right: 0;
    background-color: var(--background-color-cards);
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    height: 3.375rem;
    border-radius: .3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-family: var(--font-family-body);
    color: #191659;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 2rem;
}

.about_us_article_tags_icon{
 margin-right: .7875rem;
}

.about_us__button{
    margin-top: 1.25rem;
    width: 12.3519rem;
}