@import url(../../themes/variables.css);
@import url(../../themes/global.css);
@import url(../../themes/normalize.css);


.awards_section {
 background-image: url(../../assets/images/awards_section_images/Background.png);
 background-size:contain;
  background-position: start;
  background-repeat: no-repeat;
  height: 72.125rem;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
  align-items: end;
}

.awards_section_content_wrapper{
    width: 100%;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    display: flex;
    padding-top: 0rem;
    padding-bottom: 8.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awards_section_linestar_icon{
    position: absolute;
    top: 188.2781rem;
    left: 107.6631rem;
}

.awards_section_article{
    /* padding-right: 7.5525rem;
    padding-left: 7.2287rem; */
    width: 18.75rem;
    border-right: .125rem dashed #0E2A46;
    height: 12.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.awards_section_article_four{
    border-right: none;
}

.awards_section_article_icon_wrapper_dashed{
    width: 6.0938rem;
    height: 6.0938rem;
    border-radius: 3.0469rem;
    border: .0625rem dashed #0E2A46;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awards_section_article_icon_wrapper{
    width: 4.875rem;
    height: 4.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FC9F0B;
    border-radius: 2.375rem;
}

.awards_section_article_value{
    font-family: var(--font-family-body);
    font-size: 2.4375rem;
    line-height: 2.4375rem;
    margin-top: 1.2344rem;
    align-self: center;
}

.awards_section_article_heading{
    font-family: var(--font-family-header);
    font-size: 1.3125rem;
    font-weight: 400;
    margin-top: .6563rem;
}